<h3>Contact Us</h3>

<div class="card z-depth-3">
      
    <div class="card-content">
    <p>Do You Wanna talk? find me on the google map and we can have some tea... </p>
    </br>
<style>
       #map {
        height: 500px;
        width: 100%;
       }
    </style>
  </head>
  <body>

    <div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: 28.617359, lng: 77.315183};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map,
          title:"I am here!"
         
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLUEVHr_t5b8lGTWnlguygB4UEl42kQC0&callback=initMap">
    </script>
    </div>
    </div>
    
